langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.6
langchain-experimental==0.3.2
langchain-text-splitters==0.3.0
langsmith==0.1.129
langchain-openai
langchain-community
langchain_experimental
openpyxl
tabulate
